* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #849dd6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EFF1F5;
}

h1, 
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #8caaee;
    box-shadow: 5px 10px #babbf1;
  }